SOURCES := $(wildcard *.c)
OBJECTS := $(SOURCES:.c=.o)
DEPFILES := $(SOURCES:.c=.d)
EXECUTABLE := main
CC := clang
CFLAGS := -Wall -Wextra -Wpedantic -MMD -MP
DEBUGGER := lldb

.PHONY: all clean run build debug

build: $(EXECUTABLE)

$(EXECUTABLE): $(OBJECTS)
	$(CC) $(CFLAGS) -o $@ $^

%.o: %.c
	$(CC) $(CFLAGS) -c $< -o $@

-include $(DEPFILES)

clean:
	rm -f $(OBJECTS) $(EXECUTABLE) $(DEPFILES)

run: build
	./$(EXECUTABLE)

debug: build
	$(DEBUGGER) $(EXECUTABLE)
