// -------------------------------------------
// NAME: Luke Wiebe
// STUDENT NUMBER: 7977635
// COURSE: COMP ${1}
// ASSIGNMENT: ${2}
// QUESTION: ${3}
//
// REMARKS: ${0:what is the purpose of this code?}
// -------------------------------------------
